version: "3.8"

# Load Testing Stack
# - Locust (load testing tool)

services:
  # Locust for GraphQL
  locust-graphql:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: locust-graphql
    ports:
      - "48089:8089"
    volumes:
      - ./locustfile_graphql.py:/app/locustfile.py:ro
    command:
      ["locust", "--host=http://apollo-router:4000", "--web-host=0.0.0.0"]
    networks:
      - graphql-network
      - monitoring-network
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M

  # Locust for REST
  locust-rest:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: locust-rest
    ports:
      - "58089:8089"
    volumes:
      - ./locustfile_rest.py:/app/locustfile.py:ro
    command: ["locust", "--host=http://nginx-gateway:80", "--web-host=0.0.0.0"]
    networks:
      - rest-network
      - monitoring-network
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M

networks:
  graphql-network:
    external: true
  rest-network:
    external: true
  monitoring-network:
    external: true
